:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBG: rgba(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --buttonColor: #5686ae;
}

html,
body {
  padding: 0;
  margin: 0;
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Heebo", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.mainContainer {
  width: 1000px;
  margin: 0 auto;
}

.greetingWrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 8em;
}

.introWrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  margin: 20px;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "navWrapper navWrapper" "leftColumn rightColumn";
}

.navWrapper {
  border-radius: 5px 5px 0 0;
  grid-area: navWrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

.navigation a {
  color: var(--mainText);
}

.navigation {
  margin: 0;
  padding: 10px;
}

.navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dotsWrapper {
  display: flex;
  padding: 10px;
}

#dot1 {
  background-color: #fc6058;
}

#dot2 {
  background-color: #fec02f;
}

#dot3 {
  background-color: #2aca3e;
}

.browserDot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.leftColumn {
  grid-area: leftColumn;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profilePic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#themeOptionsWrapper {
  display: flex;
  justify-content: center;
}

.themeDot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.themeDot:hover {
  border-width: 5px;
}

#lightMode {
  background-color: #fff;
}

#blueMode {
  background-color: #192734;
}

#greenMode {
  background-color: #78866b;
}

#purpleMode {
  background-color: #7e4c74;
}

#settingsNote {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.rightColumn {
  grid-area: rightColumn;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#previewShadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBG);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#cornerTL {
  top: -5px;
  left: -5px;
}

#cornerTR {
  top: -5px;
  right: -5px;
}

#cornerBR {
  bottom: -5px;
  right: -5px;
}

#cornerBL {
  bottom: -5px;
  left: -5px;
}

.aboutWrapper {
  display: gridrow;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 10px 150px 15px;
}

.aboutMe {
  border-bottom: 1px solid var(--borderColor);
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
  width: 500px;
}

.socialLinks {
  display: grid;
  text-align: left;
}

.socialLinks ul li span a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

#socialImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.postWrapper {
  display: flex;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding: 10px 100px 20px;
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post {
  border: 1px soild var(--borderColor);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.postPreview {
  background-color: #fff;
  padding: 15px;
}

.postTitle {
  color: black;
  margin: 0;
}

.postIntro {
  color: #4b5156;
  font-size: 16px;
}

#contactForm {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contactForm label {
  line-height: 2.7em;
}

#contactForm textarea {
  min-height: 100px;
  font-size: 14px;
}

.inputField {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submitBtn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .introWrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "navWrapper" "leftColumn" "rightColumn";
  }
  .rightColumn {
    justify-content: center;
  }
}
